version: '3.4'
services:
  db:
    image: postgres:15
    user: root
    environment:
      - POSTGRES_USER=odoo
      - POSTGRES_PASSWORD=odoo16@2022
      - POSTGRES_DB=postgres
    restart: always             # run as a service
    volumes:
        - ./postgresql:/var/lib/postgresql/data

  odoo16:
    image: odoo:16
    user: root
    depends_on:
      - db
    ports:
      - "10016:8069"
      - "20016:8072" # live chat
    tty: true
    command: --
    environment:
      - HOST=db
      - USER=odoo
      - PASSWORD=odoo16@2022
    volumes:
      #- /etc/timezone:/etc/timezone:ro
      #- /etc/localtime:/etc/localtime:ro
      # - ./entrypoint.sh:/entrypoint.sh   # if you want to install additional Python packages, uncomment this line!
      - ./addons:/mnt/extra-addons
      - ./etc:/etc/odoo
      - ./enterprise:/mnt/enterprise-addons
      - ./workspace:/mnt/company-addons
    restart: always             # run as a service

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin4
    networks:
      - odoo
    environment:
      - PGADMIN_DEFAULT_EMAIL=admin
      - PGADMIN_DEFAULT_PASSWORD=admin 
      - PGADMIN_LISTEN_PORT=80
    ports: 
      - "1234:80"
    links:
      - "db:pgsql-server"
    volumes:
      - ./pgadmin4:/var/lib/pgadmin
    restart: always        # run as a service

networks:
  odoo:
    driver: bridge
